In [2]:
import dask.dataframe as dd
import os

data_folder = str(os.getcwd()) + "\data"

# 1. Import Dataset

In [3]:
blumenstock_dynamic_types = {'LOAN_SEQUENCE_NUMBER': str, 'MONTHLY_REPORTING_PERIOD': str,'CURRENT_ACTUAL_UPB': float, 'CURRENT_LOAN_DELINQUENCY_STATUS': float, 
                    'CURRENT_INTEREST_RATE':float,'ELTV': float ,'LOAN_AGE': float, 'REMAINING_MONTHS_TO_LEGAL_MATURITY': float, 'CREDIT_SCORE': float,
                    'DTI': float, 'LTV': float, 'BAL_REPAID': float, 
                    'LABEL': str, "TIME_TO_EVENT": float, 'ORIGINAL_INTEREST_RATE': float, 'ORIGINAL_UPB': float, 'TOTAL_OBSERVED_LENGTH': float}

df_blumenstock_dynamic = dd.read_parquet(data_folder + "/blumenstock_dynamic_labeled_sample_orig_*.parquet.gzip")
df_blumenstock_dynamic = df_blumenstock_dynamic.astype(blumenstock_dynamic_types)

In [4]:
df_blumenstock_dynamic.head(20)

,CURRENT_INTEREST_RATE,ELTV,CURRENT_ACTUAL_UPB,CURRENT_LOAN_DELINQUENCY_STATUS,MONTHLY_REPORTING_PERIOD,REMAINING_MONTHS_TO_LEGAL_MATURITY,LOAN_AGE,TOTAL_OBSERVED_LENGTH,TIME_TO_EVENT,LABEL,LOAN_SEQUENCE_NUMBER,ORIGINAL_INTEREST_RATE,ORIGINAL_UPB,CREDIT_SCORE,DTI,LTV,BAL_REPAID
0,4.375,0.0,216000.00,0.0,201004,180.0,0.0,25.0,25.0,0,F10Q10000014,4.375,216000.0,784.0,38.0,80.0,1.000000
1,4.375,0.0,215000.00,0.0,201005,179.0,1.0,25.0,25.0,0,F10Q10000014,4.375,216000.0,784.0,38.0,80.0,0.995370
2,4.375,0.0,214000.00,0.0,201006,178.0,2.0,25.0,25.0,0,F10Q10000014,4.375,216000.0,784.0,38.0,80.0,0.990741
3,4.375,0.0,213000.00,0.0,201007,177.0,3.0,25.0,25.0,0,F10Q10000014,4.375,216000.0,784.0,38.0,80.0,0.986111
4,4.375,0.0,213000.00,0.0,201008,176.0,4.0,25.0,25.0,0,F10Q10000014,4.375,216000.0,784.0,38.0,80.0,0.986111
5,4.375,0.0,212000.00,0.0,201009,175.0,5.0,25.0,25.0,0,F10Q10000014,4.375,216000.0,784.0,38.0,80.0,0.981481
6,4.375,0.0,211000.00,0.0,201010,174.0,6.0,25.0,25.0,0,F10Q10000014,4.375,216000.0,784.0,38.0,80.0,0.976852
7,4.375,0.0,209976.60,0.0,201011,173.0,7.0,25.0,25.0,0,F10Q10000014,4.375,216000.0,784.0,38.0,80.0,0.972114
8,4.375,0.0,209103.52,0.0,201012,172.0,8.0,25.0,25.0,0,F10Q10000014,4.375,216000.0,784.0,38.0,80.0,0.968072
9,4.375,0.0,208227.26,0.0,201101,171.0,9.0,25.0,25.0,0,F10Q10000014,4.375,216000.0,784.0,38.0,80.0,0.964015
10,4.375,0.0,207347.80,0.0,201102,170.0,10.0,25.0,25.0,0,F10Q10000014,4.375,216000.0,784.0,38.0,80.0,0.959944
11,4.375,0.0,206465.14,0.0,201103,169.0,11.0,25.0,25.0,0,F10Q10000014,4.375,216000.0,784.0,38.0,80.0,0.955857
12,4.375,0.0,205579.26,0.0,201104,168.0,12.0,25.0,25.0,0,F10Q10000014,4.375,216000.0,784.0,38.0,80.0,0.951756
13,4.375,0.0,204690.15,0.0,201105,167.0,13.0,25.0,25.0,0,F10Q10000014,4.375,216000.0,784.0,38.0,80.0,0.947640
14,4.375,0.0,203797.80,0.0,201106,166.0,14.0,25.0,25.0,0,F10Q10000014,4.375,216000.0,784.0,38.0,80.0,0.943508
15,4.375,0.0,202902.19,0.0,201107,165.0,15.0,25.0,25.0,0,F10Q10000014,4.375,216000.0,784.0,38.0,80.0,0.939362
16,4.375,0.0,202002.70,0.0,201108,164.0,16.0,25.0,25.0,0,F10Q10000014,4.375,216000.0,784.0,38.0,80.0,0.935198
17,4.375,0.0,201073.93,0.0,201109,163.0,17.0,25.0,25.0,0,F10Q10000014,4.375,216000.0,784.0,38.0,80.0,0.930898
18,4.375,0.0,200168.30,0.0,201110,162.0,18.0,25.0,25.0,0,F10Q10000014,4.375,216000.0,784.0,38.0,80.0,0.926705
19,4.375,0.0,199259.37,0.0,201111,161.0,19.0,25.0,25.0,0,F10Q10000014,4.375,216000.0,784.0,38.0,80.0,0.922497

### Data Exploration

# 2. Hyperparameters

# 3. Defining The Model