In [1]:
_EPSILON = 1e-08

import numpy as np
import pandas as pd
import torch

# 1. Import Dataset

In [2]:
# headers = ['col1', 'col2', 'col3', 'col4']
# dtypes = {'col1': 'str', 'col2': 'str', 'col3': 'str', 'col4': 'float'}
# parse_dates = ['col1', 'col2']
# pd.read_csv(file, sep='\t', header=None, names=headers, dtype=dtypes, parse_dates=parse_dates)

headers = ["POOL_ID", "LOAN_ID", "ACT_PERIOD", "CHANNEL", "SELLER", "SERVICER",
                "MASTER_SERVICER", "ORIG_RATE", "CURR_RATE", "ORIG_UPB", "ISSUANCE_UPB",
                "CURRENT_UPB", "ORIG_TERM", "ORIG_DATE", "FIRST_PAY", "LOAN_AGE",
                "REM_MONTHS", "ADJ_REM_MONTHS", "MATR_DT", "OLTV", "OCLTV",
                "NUM_BO", "DTI", "CSCORE_B", "CSCORE_C", "FIRST_FLAG", "PURPOSE",
                "PROP", "NO_UNITS", "OCC_STAT", "STATE", "MSA", "ZIP", "MI_PCT",
                "PRODUCT", "PPMT_FLG", "IO", "FIRST_PAY_IO", "MNTHS_TO_AMTZ_IO",
                "DLQ_STATUS", "PMT_HISTORY", "MOD_FLAG", "MI_CANCEL_FLAG", "Zero_Bal_Code",
                "ZB_DTE", "LAST_UPB", "RPRCH_DTE", "CURR_SCHD_PRNCPL", "TOT_SCHD_PRNCPL",
                "UNSCHD_PRNCPL_CURR", "LAST_PAID_INSTALLMENT_DATE", "FORECLOSURE_DATE",
                "DISPOSITION_DATE", "FORECLOSURE_COSTS", "PROPERTY_PRESERVATION_AND_REPAIR_COSTS",
                "ASSET_RECOVERY_COSTS", "MISCELLANEOUS_HOLDING_EXPENSES_AND_CREDITS",
                "ASSOCIATED_TAXES_FOR_HOLDING_PROPERTY", "NET_SALES_PROCEEDS",
                "CREDIT_ENHANCEMENT_PROCEEDS", "REPURCHASES_MAKE_WHOLE_PROCEEDS",
                "OTHER_FORECLOSURE_PROCEEDS", "NON_INTEREST_BEARING_UPB", "PRINCIPAL_FORGIVENESS_AMOUNT",
                "ORIGINAL_LIST_START_DATE", "ORIGINAL_LIST_PRICE", "CURRENT_LIST_START_DATE",
                "CURRENT_LIST_PRICE", "ISSUE_SCOREB", "ISSUE_SCOREC", "CURR_SCOREB",
                "CURR_SCOREC", "MI_TYPE", "SERV_IND", "CURRENT_PERIOD_MODIFICATION_LOSS_AMOUNT",
                "CUMULATIVE_MODIFICATION_LOSS_AMOUNT", "CURRENT_PERIOD_CREDIT_EVENT_NET_GAIN_OR_LOSS",
                "CUMULATIVE_CREDIT_EVENT_NET_GAIN_OR_LOSS", "HOMEREADY_PROGRAM_INDICATOR",
                "FORECLOSURE_PRINCIPAL_WRITE_OFF_AMOUNT", "RELOCATION_MORTGAGE_INDICATOR",
                "ZERO_BALANCE_CODE_CHANGE_DATE", "LOAN_HOLDBACK_INDICATOR", "LOAN_HOLDBACK_EFFECTIVE_DATE",
                "DELINQUENT_ACCRUED_INTEREST", "PROPERTY_INSPECTION_WAIVER_INDICATOR",
                "HIGH_BALANCE_LOAN_INDICATOR", "ARM_5_YR_INDICATOR", "ARM_PRODUCT_TYPE",
                "MONTHS_UNTIL_FIRST_PAYMENT_RESET", "MONTHS_BETWEEN_SUBSEQUENT_PAYMENT_RESET",
                "INTEREST_RATE_CHANGE_DATE", "PAYMENT_CHANGE_DATE", "ARM_INDEX",
                "ARM_CAP_STRUCTURE", "INITIAL_INTEREST_RATE_CAP", "PERIODIC_INTEREST_RATE_CAP",
                "LIFETIME_INTEREST_RATE_CAP", "MARGIN", "BALLOON_INDICATOR",
                "PLAN_NUMBER", "FORBEARANCE_INDICATOR", "HIGH_LOAN_TO_VALUE_HLTV_REFINANCE_OPTION_INDICATOR",
                "DEAL_NAME", "RE_PROCS_FLAG", "ADR_TYPE", "ADR_COUNT", "ADR_UPB"]
dtypes = { 'ACT_PERIOD' : 'str', 'CHANNEL' : 'str', 'SELLER' : 'str', 'SERVICER' : 'str',
                'MASTER_SERVICER' : 'str', 'ORIG_RATE' : 'float', 'CURR_RATE' : 'float', 'ORIG_UPB' : 'float', 'ISSUANCE_UPB' : 'float',
                'CURRENT_UPB' : 'str', 'ORIG_TERM': 'float', 'ORIG_DATE' : 'str', 'FIRST_PAY' : 'str', 'LOAN_AGE': 'float',
                'REM_MONTHS' : 'float', 'ADJ_REM_MONTHS' : 'float', 'MATR_DT' : 'str', 'OLTV' : 'float', 'OCLTV' : 'float',
                'NUM_BO' : 'float', 'DTI' : 'float', 'CSCORE_B' : 'float', 'CSCORE_C' : 'float', 'FIRST_FLAG' : 'str', 'PURPOSE' : 'str',
                'PROP' : 'str', 'NO_UNITS' : 'float', 'OCC_STAT' : 'str', 'STATE' : 'str', 'MSA' : 'str', 'ZIP' : 'str', 'MI_PCT' : 'float',
                'PRODUCT' : 'str', 'PPMT_FLG' : 'str', 'IO' : 'str', 'FIRST_PAY_IO' : 'str', 'MNTHS_TO_AMTZ_IO' : 'float',
                'DLQ_STATUS' : 'str', 'PMT_HISTORY' : 'str', 'MOD_FLAG' : 'str', 'MI_CANCEL_FLAG' : 'str', 'Zero_Bal_Code' : 'str',
                'ZB_DTE' : 'str', 'LAST_UPB' : 'float', 'RPRCH_DTE' : 'str', 'CURR_SCHD_PRNCPL' : 'float', 'TOT_SCHD_PRNCPL' : 'float',
                'UNSCHD_PRNCPL_CURR' : 'float', 'LAST_PAID_INSTALLMENT_DATE' : 'str', 'FORECLOSURE_DATE' : 'str',
                'DISPOSITION_DATE' : 'str', 'FORECLOSURE_COSTS' : 'float', 'PROPERTY_PRESERVATION_AND_REPAIR_COSTS' : 'float',
                'ASSET_RECOVERY_COSTS' : 'float', 'MISCELLANEOUS_HOLDING_EXPENSES_AND_CREDITS' : 'float',
                'ASSOCIATED_TAXES_FOR_HOLDING_PROPERTY' : 'float', 'NET_SALES_PROCEEDS' : 'float',
                'CREDIT_ENHANCEMENT_PROCEEDS' : 'float', 'REPURCHASES_MAKE_WHOLE_PROCEEDS' : 'float',
                'OTHER_FORECLOSURE_PROCEEDS' : 'float', 'NON_INTEREST_BEARING_UPB' : 'float', 'PRINCIPAL_FORGIVENESS_AMOUNT' : 'float',                
                'ORIGINAL_LIST_START_DATE' : 'str', 'ORIGINAL_LIST_PRICE' : 'float', 'CURRENT_LIST_START_DATE' : 'str',
                'CURRENT_LIST_PRICE' : 'float', 'ISSUE_SCOREB' : 'float', 'ISSUE_SCOREC' : 'float', 'CURR_SCOREB' : 'float',
                'CURR_SCOREC' : 'float', 'MI_TYPE' : 'str', 'SERV_IND' : 'str', 'CURRENT_PERIOD_MODIFICATION_LOSS_AMOUNT' : 'float',
                'CUMULATIVE_MODIFICATION_LOSS_AMOUNT' : 'float', 'CURRENT_PERIOD_CREDIT_EVENT_NET_GAIN_OR_LOSS' : 'float',
                'CUMULATIVE_CREDIT_EVENT_NET_GAIN_OR_LOSS' : 'float', 'HOMEREADY_PROGRAM_INDICATOR' : 'str',
                'FORECLOSURE_PRINCIPAL_WRITE_OFF_AMOUNT' : 'float', 'RELOCATION_MORTGAGE_INDICATOR' : 'str',
                'ZERO_BALANCE_CODE_CHANGE_DATE' : 'str', 'LOAN_HOLDBACK_INDICATOR' : 'str', 'LOAN_HOLDBACK_EFFECTIVE_DATE' : 'str',
                'DELINQUENT_ACCRUED_INTEREST' : 'float', 'PROPERTY_INSPECTION_WAIVER_INDICATOR' : 'float',
                'HIGH_BALANCE_LOAN_INDICATOR' : 'str', 'ARM_5_YR_INDICATOR' : 'str', 'ARM_PRODUCT_TYPE' : 'str',
                'MONTHS_UNTIL_FIRST_PAYMENT_RESET' : 'float', 'MONTHS_BETWEEN_SUBSEQUENT_PAYMENT_RESET' : 'float',
                'INTEREST_RATE_CHANGE_DATE' : 'str', 'PAYMENT_CHANGE_DATE' : 'str', 'ARM_INDEX' : 'str',
                'ARM_CAP_STRUCTURE' : 'str', 'INITIAL_INTEREST_RATE_CAP' : 'float', 'PERIODIC_INTEREST_RATE_CAP' : 'float',
                'LIFETIME_INTEREST_RATE_CAP' : 'float', 'MARGIN' : 'float', 'BALLOON_INDICATOR' : 'str',
                'PLAN_NUMBER' : 'float', 'FORBEARANCE_INDICATOR' : 'str', 'HIGH_LOAN_TO_VALUE_HLTV_REFINANCE_OPTION_INDICATOR' : 'str',
                'DEAL_NAME' : 'str', 'RE_PROCS_FLAG' : 'str', 'ADR_TYPE' : 'str', 'ADR_COUNT' : 'float', 'ADR_UPB' : 'float'}
parse_dates = []

df = pd.read_csv("sf-loan-performance-data-sample.csv", delimiter="|", header=None, names=headers, dtype=dtypes, parse_dates=parse_dates)

lppub_column_classes = ["character", "character", "character", "character", "character", "character",
                          "character", "float64", "float64", "float64", "float64",
                          "float64", "float64", "character", "character", "float64", "float64",
                          "float64", "character", "float64", "float64", "character", "float64",
                          "float64", "float64", "character", "character", "character",
                          "float64", "character", "character", "character", "character",
                          "float64", "character", "character", "character", "character",
                          "float64", "character", "character", "character", "character",
                          "character", "character", "float64", "character", "float64",
                          "float64", "float64", "character", "character", "character",
                          "float64", "float64", "float64", "float64", "float64", "float64",
                          "float64", "float64", "float64", "float64", "float64", "character",
                          "float64", "character", "float64", "float64", "float64", "float64",
                          "float64", "float64", "character", "float64", "float64", "float64",
                          "float64", "character", "float64", "character", "float64", "character",
                          "float64", "float64", "character", "character", "float64", "float64",
                          "float64", "float64", "float64", "float64", "float64", "float64",
                          "float64", "float64", "float64", "float64", "float64", "character",
                          "character", "character", "character", "character",
						  "character", "float64", "float64"]


CURRENT_FIELDS_OF_INTEREST = ["LOAN_ID", "ORIG_RATE", "CURR_RATE", "ORIG_UPB", "CURRENT_UPB", "ORIG_TERM", "ORIG_DATE", "LOAN_AGE", "REM_MONTHS", "ADJ_REM_MONTHS", "ORIG_DATE", "DLQ_STATUS", "Zero_Bal_Code" ]
df = df[CURRENT_FIELDS_OF_INTEREST]

### Data Exploration

https://capitalmarkets.fanniemae.com/media/6931/display

* 2: LOAN_ID = A unique identifier for the mortgage loan.
* 8: ORIG_RATE = The original interest rate on a mortgage loan as identified in the original mortgage note.
* 9: CURR_RATE = The rate of interest in effect for the periodic installment due.
* 10: ORIG_UPB = The dollar amount of the loan as stated on the note at the time the loan was originated.
* 11: ISSUANCE_UPB = The unpaid principal balance of the loan as of the cut-off date of the reference pool.
* 12: CURRENT_UPB = The current actual outstanding unpaid principal balance of a mortgage loan, reflective of payments actually received from the related borrower.
* 13: ORIG_TERM = For fixed-rate, adjustable-rate and Interest-only mortgages, the number of months in which regularly scheduled borrower payments are due at the time the loan was originated.
* 14: ORIG_DATE = The date of each individual note.
* 15: FIRST_PAY = The date of the first scheduled mortgage loan payment to be made by the borrower under the terms of the mortgage loan documents.
* 16: LOAN_AGE = The number of calendar months since the mortgage loan's origination date. For purposes of calculating this data element, origination means the date on which the first full month of interest begins to accrue.
* 17: REM_MONTHS = The number of calendar months remaining until the mortgage loan is due to be paid in full based on the maturity date as defined in the mortgage documents.
* 18: ADJ_REM_MONTHS = The number of calendar months remaining until the outstanding unpaid principal balance of the mortgage loan amortizes to a zero balance, taking into account any additional prepayments, which could lead to the loan paying off earlier than its maturity date.
* 19: MATR_DT = The month and year in which a mortgage loan is scheduled to be paid in full as defined in the
mortgage loan documents.
* 40: DLQ_STATUS = The number of months the obligor is delinquent as determined by the governing mortgage
documents.
* 41: PMT_HISTORY = The coded string of values that describes the payment performance of the loan over the
most recent 24 months. The most recent month is located to the right.
* 44: Zero_Bal_Code = A code indicating the reason the loan's balance was reduced to zero or experienced a credit
event, if applicable

In [3]:
df.LOAN_ID.value_counts()

100023020488    131
102218329006    131
102458150755    130
100039488159    130
100829595540    112
100352555665     50
101812620634     38
100050465903     35
Name: LOAN_ID, dtype: int64

In [4]:
df[df["LOAN_ID"] == 100023020488]

,LOAN_ID,ORIG_RATE,CURR_RATE,ORIG_UPB,CURRENT_UPB,ORIG_TERM,ORIG_DATE,LOAN_AGE,REM_MONTHS,ADJ_REM_MONTHS,ORIG_DATE,DLQ_STATUS,Zero_Bal_Code
0,100023020488,5.375,5.375,55000.0,0.00,240.0,082009,-1.0,241.0,240.0,082009,00,NaN
1,100023020488,5.375,5.375,55000.0,0.00,240.0,082009,0.0,240.0,240.0,082009,00,NaN
2,100023020488,5.375,5.375,55000.0,0.00,240.0,082009,1.0,239.0,238.0,082009,00,NaN
3,100023020488,5.375,5.375,55000.0,0.00,240.0,082009,2.0,238.0,238.0,082009,00,NaN
4,100023020488,5.375,5.375,55000.0,0.00,240.0,082009,3.0,237.0,236.0,082009,00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,100023020488,5.375,5.375,55000.0,33509.70,240.0,082009,125.0,115.0,115.0,082009,00,NaN
127,100023020488,5.375,5.375,55000.0,33284.80,240.0,082009,126.0,114.0,114.0,082009,00,NaN
128,100023020488,5.375,5.375,55000.0,33058.89,240.0,082009,127.0,113.0,113.0,082009,00,NaN
129,100023020488,5.375,5.375,55000.0,32831.97,240.0,082009,128.0,112.0,112.0,082009,00,NaN
130,100023020488,5.375,5.375,55000.0,32604.03,240.0,082009,129.0,111.0,111.0,082009,00,NaN

In [5]:
df[df["LOAN_ID"] == 100039488159]

,LOAN_ID,ORIG_RATE,CURR_RATE,ORIG_UPB,CURRENT_UPB,ORIG_TERM,ORIG_DATE,LOAN_AGE,REM_MONTHS,ADJ_REM_MONTHS,ORIG_DATE,DLQ_STATUS,Zero_Bal_Code
131,100039488159,4.375,4.375,155000.0,0.00,180.0,072009,0.0,180.0,179.0,072009,00,NaN
132,100039488159,4.375,4.375,155000.0,0.00,180.0,072009,1.0,179.0,178.0,072009,00,NaN
133,100039488159,4.375,4.375,155000.0,0.00,180.0,072009,2.0,178.0,173.0,072009,00,NaN
134,100039488159,4.375,4.375,155000.0,0.00,180.0,072009,3.0,177.0,173.0,072009,00,NaN
135,100039488159,4.375,4.375,155000.0,0.00,180.0,072009,4.0,176.0,171.0,072009,00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
256,100039488159,4.375,4.375,155000.0,8511.37,180.0,072009,125.0,55.0,8.0,072009,00,NaN
257,100039488159,4.375,4.375,155000.0,6866.54,180.0,072009,126.0,54.0,6.0,072009,00,NaN
258,100039488159,4.375,4.375,155000.0,5215.71,180.0,072009,127.0,53.0,5.0,072009,00,NaN
259,100039488159,4.375,4.375,155000.0,3558.87,180.0,072009,128.0,52.0,4.0,072009,00,NaN
260,100039488159,4.375,NaN,155000.0,0.00,180.0,072009,NaN,NaN,NaN,072009,00,01

In [6]:
df[df["LOAN_ID"] == 100050465903]

,LOAN_ID,ORIG_RATE,CURR_RATE,ORIG_UPB,CURRENT_UPB,ORIG_TERM,ORIG_DATE,LOAN_AGE,REM_MONTHS,ADJ_REM_MONTHS,ORIG_DATE,DLQ_STATUS,Zero_Bal_Code
261,100050465903,5.5,5.5,620000.0,0.00,360.0,072009,0.0,360.0,360.0,072009,00,NaN
262,100050465903,5.5,5.5,620000.0,0.00,360.0,072009,1.0,359.0,359.0,072009,00,NaN
263,100050465903,5.5,5.5,620000.0,0.00,360.0,072009,2.0,358.0,358.0,072009,00,NaN
264,100050465903,5.5,5.5,620000.0,0.00,360.0,072009,3.0,357.0,357.0,072009,00,NaN
265,100050465903,5.5,5.5,620000.0,0.00,360.0,072009,4.0,356.0,356.0,072009,00,NaN
266,100050465903,5.5,5.5,620000.0,0.00,360.0,072009,5.0,355.0,355.0,072009,00,NaN
267,100050465903,5.5,5.5,620000.0,615881.26,360.0,072009,6.0,354.0,354.0,072009,00,NaN
268,100050465903,5.5,5.5,620000.0,615183.75,360.0,072009,7.0,353.0,353.0,072009,00,NaN
269,100050465903,5.5,5.5,620000.0,614483.04,360.0,072009,8.0,352.0,352.0,072009,00,NaN
270,100050465903,5.5,5.5,620000.0,613779.12,360.0,072009,9.0,351.0,351.0,072009,00,NaN
271,100050465903,5.5,5.5,620000.0,613071.97,360.0,072009,10.0,350.0,350.0,072009,00,NaN
272,100050465903,5.5,5.5,620000.0,612361.58,360.0,072009,11.0,349.0,349.0,072009,00,NaN
273,100050465903,5.5,5.5,620000.0,611474.78,360.0,072009,12.0,348.0,348.0,072009,00,NaN
274,100050465903,5.5,5.5,620000.0,610757.07,360.0,072009,13.0,347.0,347.0,072009,00,NaN
275,100050465903,5.5,5.5,620000.0,610036.07,360.0,072009,14.0,346.0,346.0,072009,00,NaN
276,100050465903,5.5,5.5,620000.0,609311.77,360.0,072009,15.0,345.0,345.0,072009,00,NaN
277,100050465903,5.5,5.5,620000.0,608584.15,360.0,072009,16.0,344.0,344.0,072009,00,NaN
278,100050465903,5.5,5.5,620000.0,607853.19,360.0,072009,17.0,343.0,343.0,072009,00,NaN
279,100050465903,5.5,5.5,620000.0,607118.88,360.0,072009,18.0,342.0,342.0,072009,00,NaN
280,100050465903,5.5,5.5,620000.0,606381.21,360.0,072009,19.0,341.0,341.0,072009,00,NaN
281,100050465903,5.5,5.5,620000.0,605640.16,360.0,072009,20.0,340.0,340.0,072009,00,NaN
282,100050465903,5.5,5.5,620000.0,604895.71,360.0,072009,21.0,339.0,339.0,072009,00,NaN
283,100050465903,5.5,5.5,620000.0,604147.85,360.0,072009,22.0,338.0,338.0,072009,00,NaN
284,100050465903,5.5,5.5,620000.0,603396.56,360.0,072009,23.0,337.0,337.0,072009,00,NaN
285,100050465903,5.5,5.5,620000.0,602641.83,360.0,072009,24.0,336.0,336.0,072009,00,NaN
286,100050465903,5.5,5.5,620000.0,601883.64,360.0,072009,25.0,335.0,335.0,072009,00,NaN
287,100050465903,5.5,5.5,620000.0,601121.97,360.0,072009,26.0,334.0,334.0,072009,00,NaN
288,100050465903,5.5,5.5,620000.0,600356.81,360.0,072009,27.0,333.0,333.0,072009,00,NaN
289,100050465903,5.5,5.5,620000.0,599588.15,360.0,072009,28.0,332.0,332.0,072009,00,NaN
290,100050465903,5.5,5.5,620000.0,598815.96,360.0,072009,29.0,331.0,331.0,072009,00,NaN
291,100050465903,5.5,5.5,620000.0,597839.22,360.0,072009,30.0,330.0,330.0,072009,00,NaN
292,100050465903,5.5,5.5,620000.0,597059.02,360.0,072009,31.0,329.0,329.0,072009,00,NaN
293,100050465903,5.5,5.5,620000.0,596275.24,360.0,072009,32.0,328.0,328.0,072009,00,NaN
294,100050465903,5.5,5.5,620000.0,595487.87,360.0,072009,33.0,327.0,327.0,072009,00,NaN
295,100050465903,5.5,NaN,620000.0,0.00,360.0,072009,NaN,NaN,NaN,072009,XX,01

In [7]:
df[df["LOAN_ID"] == 100352555665]

,LOAN_ID,ORIG_RATE,CURR_RATE,ORIG_UPB,CURRENT_UPB,ORIG_TERM,ORIG_DATE,LOAN_AGE,REM_MONTHS,ADJ_REM_MONTHS,ORIG_DATE,DLQ_STATUS,Zero_Bal_Code
296,100352555665,4.625,4.625,165000.0,0.00,360.0,092009,-1.0,361.0,360.0,092009,00,NaN
297,100352555665,4.625,4.625,165000.0,0.00,360.0,092009,0.0,360.0,360.0,092009,00,NaN
298,100352555665,4.625,4.625,165000.0,0.00,360.0,092009,1.0,359.0,359.0,092009,00,NaN
299,100352555665,4.625,4.625,165000.0,0.00,360.0,092009,2.0,358.0,358.0,092009,00,NaN
300,100352555665,4.625,4.625,165000.0,0.00,360.0,092009,3.0,357.0,357.0,092009,00,NaN
301,100352555665,4.625,4.625,165000.0,0.00,360.0,092009,4.0,356.0,356.0,092009,00,NaN
302,100352555665,4.625,4.625,165000.0,163929.82,360.0,092009,5.0,355.0,355.0,092009,00,NaN
303,100352555665,4.625,4.625,165000.0,163713.30,360.0,092009,6.0,354.0,354.0,092009,00,NaN
304,100352555665,4.625,4.625,165000.0,163495.95,360.0,092009,7.0,353.0,353.0,092009,00,NaN
305,100352555665,4.625,4.625,165000.0,163277.76,360.0,092009,8.0,352.0,352.0,092009,00,NaN
306,100352555665,4.625,4.625,165000.0,163058.73,360.0,092009,9.0,351.0,351.0,092009,00,NaN
307,100352555665,4.625,4.625,165000.0,162838.86,360.0,092009,10.0,350.0,350.0,092009,00,NaN
308,100352555665,4.625,4.625,165000.0,162618.14,360.0,092009,11.0,349.0,349.0,092009,00,NaN
309,100352555665,4.625,4.625,165000.0,162396.57,360.0,092009,12.0,348.0,348.0,092009,00,NaN
310,100352555665,4.625,4.625,165000.0,162174.14,360.0,092009,13.0,347.0,347.0,092009,00,NaN
311,100352555665,4.625,4.625,165000.0,162174.14,360.0,092009,14.0,346.0,347.0,092009,01,NaN
312,100352555665,4.625,4.625,165000.0,161950.86,360.0,092009,15.0,345.0,346.0,092009,01,NaN
313,100352555665,4.625,4.625,165000.0,161950.86,360.0,092009,16.0,344.0,346.0,092009,02,NaN
314,100352555665,4.625,4.625,165000.0,161950.86,360.0,092009,17.0,343.0,346.0,092009,03,NaN
315,100352555665,4.625,4.625,165000.0,161950.86,360.0,092009,18.0,342.0,346.0,092009,04,NaN
316,100352555665,4.625,4.625,165000.0,161950.86,360.0,092009,19.0,341.0,346.0,092009,05,NaN
317,100352555665,4.625,4.625,165000.0,161950.86,360.0,092009,20.0,340.0,346.0,092009,06,NaN
318,100352555665,4.625,4.625,165000.0,161950.86,360.0,092009,21.0,339.0,346.0,092009,07,NaN
319,100352555665,4.625,4.625,165000.0,161950.86,360.0,092009,22.0,338.0,346.0,092009,08,NaN
320,100352555665,4.625,4.625,165000.0,161950.86,360.0,092009,23.0,337.0,346.0,092009,09,NaN
321,100352555665,4.625,4.625,165000.0,161950.86,360.0,092009,24.0,336.0,346.0,092009,10,NaN
322,100352555665,4.625,4.625,165000.0,161950.86,360.0,092009,25.0,335.0,346.0,092009,11,NaN
323,100352555665,4.625,4.625,165000.0,161950.86,360.0,092009,26.0,334.0,346.0,092009,12,NaN
324,100352555665,4.625,4.625,165000.0,161950.86,360.0,092009,27.0,333.0,346.0,092009,13,NaN
325,100352555665,4.625,4.625,165000.0,161950.86,360.0,092009,28.0,332.0,346.0,092009,14,NaN
326,100352555665,4.625,4.625,165000.0,161950.86,360.0,092009,29.0,331.0,346.0,092009,15,NaN
327,100352555665,4.625,4.625,165000.0,161950.86,360.0,092009,30.0,330.0,346.0,092009,16,NaN
328,100352555665,4.625,4.625,165000.0,161950.86,360.0,092009,31.0,329.0,346.0,092009,17,NaN
329,100352555665,4.625,4.625,165000.0,161950.86,360.0,092009,32.0,328.0,346.0,092009,18,NaN
330,100352555665,4.625,4.625,165000.0,161950.86,360.0,092009,33.0,327.0,346.0,092009,19,NaN
331,100352555665,4.625,4.625,165000.0,161950.86,360.0,092009,34.0,326.0,346.0,092009,20,NaN
332,100352555665,4.625,4.625,165000.0,161950.86,360.0,092009,35.0,325.0,346.0,092009,21,NaN
333,100352555665,4.625,4.625,165000.0,161950.86,360.0,092009,36.0,324.0,346.0,092009,22,NaN
334,100352555665,4.625,4.625,165000.0,161950.86,360.0,092009,37.0,323.0,346.0,092009,23,NaN
335,100352555665,4.625,4.625,165000.0,161950.86,360.0,092009,38.0,322.0,346.0,092009,24,NaN
336,100352555665,4.625,4.625,165000.0,161950.86,360.0,092009,39.0,321.0,346.0,092009,25,NaN
337,100352555665,4.625,4.625,165000.0,161950.86,360.0,092009,40.0,320.0,346.0,092009,26,NaN
338,100352555665,4.625,4.625,165000.0,161950.86,360.0,092009,41.0,319.0,346.0,092009,27,NaN
339,100352555665,4.625,4.625,165000.0,161950.86,360.0,092009,42.0,318.0,346.0,092009,28,NaN
340,100352555665,4.625,4.625,165000.0,161950.86,360.0,092009,43.0,317.0,346.0,092009,29,NaN
341,100352555665,4.625,4.625,165000.0,161950.86,360.0,092009,44.0,316.0,346.0,092009,30,NaN
342,100352555665,4.625,4.625,165000.0,161950.86,360.0,092009,45.0,315.0,346.0,092009,31,NaN
343,100352555665,4.625,4.625,165000.0,161950.86,360.0,092009,46.0,314.0,346.0,092009,32,NaN
344,100352555665,4.625,4.625,165000.0,161950.86,360.0,092009,47.0,313.0,346.0,092009,33,NaN
345,100352555665,4.625,NaN,165000.0,0.00,360.0,092009,NaN,NaN,NaN,092009,XX,09

In [8]:
df[df["LOAN_ID"] == 100829595540]

,LOAN_ID,ORIG_RATE,CURR_RATE,ORIG_UPB,CURRENT_UPB,ORIG_TERM,ORIG_DATE,LOAN_AGE,REM_MONTHS,ADJ_REM_MONTHS,ORIG_DATE,DLQ_STATUS,Zero_Bal_Code
346,100829595540,5.875,5.875,175000.0,0.00,360.0,072009,-1.0,361.0,360.0,072009,00,NaN
347,100829595540,5.875,5.875,175000.0,0.00,360.0,072009,0.0,360.0,359.0,072009,00,NaN
348,100829595540,5.875,5.875,175000.0,0.00,360.0,072009,1.0,359.0,359.0,072009,00,NaN
349,100829595540,5.875,5.875,175000.0,0.00,360.0,072009,2.0,358.0,358.0,072009,00,NaN
350,100829595540,5.875,5.875,175000.0,0.00,360.0,072009,3.0,357.0,357.0,072009,00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
453,100829595540,5.875,4.000,175000.0,188747.74,360.0,072009,106.0,422.0,NaN,072009,00,NaN
454,100829595540,5.875,4.000,175000.0,188527.44,360.0,072009,107.0,421.0,NaN,072009,00,NaN
455,100829595540,5.875,4.000,175000.0,188306.40,360.0,072009,108.0,420.0,NaN,072009,00,NaN
456,100829595540,5.875,4.000,175000.0,188084.63,360.0,072009,109.0,419.0,NaN,072009,00,NaN
457,100829595540,5.875,NaN,175000.0,0.00,360.0,072009,NaN,NaN,NaN,072009,XX,01

In [9]:
df[df["LOAN_ID"] == 101812620634]

,LOAN_ID,ORIG_RATE,CURR_RATE,ORIG_UPB,CURRENT_UPB,ORIG_TERM,ORIG_DATE,LOAN_AGE,REM_MONTHS,ADJ_REM_MONTHS,ORIG_DATE,DLQ_STATUS,Zero_Bal_Code
458,101812620634,4.875,4.875,278000.0,0.00,360.0,072009,0.0,360.0,360.0,072009,00,NaN
459,101812620634,4.875,4.875,278000.0,0.00,360.0,072009,1.0,359.0,359.0,072009,00,NaN
460,101812620634,4.875,4.875,278000.0,0.00,360.0,072009,2.0,358.0,358.0,072009,00,NaN
461,101812620634,4.875,4.875,278000.0,0.00,360.0,072009,3.0,357.0,357.0,072009,00,NaN
462,101812620634,4.875,4.875,278000.0,0.00,360.0,072009,4.0,356.0,356.0,072009,00,NaN
463,101812620634,4.875,4.875,278000.0,0.00,360.0,072009,5.0,355.0,355.0,072009,00,NaN
464,101812620634,4.875,4.875,278000.0,275918.51,360.0,072009,6.0,354.0,354.0,072009,00,NaN
465,101812620634,4.875,4.875,278000.0,275547.65,360.0,072009,7.0,353.0,353.0,072009,00,NaN
466,101812620634,4.875,4.875,278000.0,275195.84,360.0,072009,8.0,352.0,352.0,072009,00,NaN
467,101812620634,4.875,4.875,278000.0,274842.04,360.0,072009,9.0,351.0,351.0,072009,00,NaN
468,101812620634,4.875,4.875,278000.0,274487.39,360.0,072009,10.0,350.0,350.0,072009,00,NaN
469,101812620634,4.875,4.875,278000.0,274057.74,360.0,072009,11.0,349.0,349.0,072009,00,NaN
470,101812620634,4.875,4.875,278000.0,274131.30,360.0,072009,12.0,348.0,349.0,072009,01,NaN
471,101812620634,4.875,4.875,278000.0,273773.76,360.0,072009,13.0,347.0,348.0,072009,01,NaN
472,101812620634,4.875,4.875,278000.0,273414.77,360.0,072009,14.0,346.0,347.0,072009,01,NaN
473,101812620634,4.875,4.875,278000.0,273414.77,360.0,072009,15.0,345.0,347.0,072009,02,NaN
474,101812620634,4.875,4.875,278000.0,272692.40,360.0,072009,16.0,344.0,345.0,072009,01,NaN
475,101812620634,4.875,4.875,278000.0,272329.01,360.0,072009,17.0,343.0,344.0,072009,01,NaN
476,101812620634,4.875,4.875,278000.0,271597.80,360.0,072009,18.0,342.0,342.0,072009,00,NaN
477,101812620634,4.875,4.875,278000.0,271229.97,360.0,072009,19.0,341.0,341.0,072009,00,NaN
478,101812620634,4.875,4.875,278000.0,271229.97,360.0,072009,20.0,340.0,341.0,072009,01,NaN
479,101812620634,4.875,4.875,278000.0,270489.81,360.0,072009,21.0,339.0,339.0,072009,00,NaN
480,101812620634,4.875,4.875,278000.0,270117.47,360.0,072009,22.0,338.0,338.0,072009,00,NaN
481,101812620634,4.875,4.875,278000.0,270117.47,360.0,072009,23.0,337.0,338.0,072009,01,NaN
482,101812620634,4.875,4.875,278000.0,270117.47,360.0,072009,24.0,336.0,338.0,072009,02,NaN
483,101812620634,4.875,4.875,278000.0,269368.25,360.0,072009,25.0,335.0,336.0,072009,01,NaN
484,101812620634,4.875,4.875,278000.0,269368.25,360.0,072009,26.0,334.0,336.0,072009,02,NaN
485,101812620634,4.875,4.875,278000.0,268991.36,360.0,072009,27.0,333.0,335.0,072009,02,NaN
486,101812620634,4.875,4.875,278000.0,268991.36,360.0,072009,28.0,332.0,335.0,072009,03,NaN
487,101812620634,4.875,4.875,278000.0,268612.94,360.0,072009,29.0,331.0,334.0,072009,03,NaN
488,101812620634,4.875,4.875,278000.0,268612.94,360.0,072009,30.0,330.0,334.0,072009,04,NaN
489,101812620634,4.875,4.875,278000.0,266697.65,360.0,072009,31.0,329.0,329.0,072009,00,NaN
490,101812620634,4.875,4.875,278000.0,266697.65,360.0,072009,32.0,328.0,329.0,072009,01,NaN
491,101812620634,4.875,4.875,278000.0,266697.65,360.0,072009,33.0,327.0,329.0,072009,02,NaN
492,101812620634,4.875,4.875,278000.0,266697.65,360.0,072009,34.0,326.0,329.0,072009,03,NaN
493,101812620634,4.875,4.875,278000.0,266309.91,360.0,072009,35.0,325.0,328.0,072009,03,NaN
494,101812620634,4.875,4.875,278000.0,265529.69,360.0,072009,36.0,324.0,326.0,072009,02,NaN
495,101812620634,4.875,NaN,278000.0,0.00,360.0,072009,NaN,NaN,NaN,072009,XX,06

In [10]:
df[df["LOAN_ID"] == 102218329006]

,LOAN_ID,ORIG_RATE,CURR_RATE,ORIG_UPB,CURRENT_UPB,ORIG_TERM,ORIG_DATE,LOAN_AGE,REM_MONTHS,ADJ_REM_MONTHS,ORIG_DATE,DLQ_STATUS,Zero_Bal_Code
496,102218329006,4.375,4.375,101000.0,0.00,360.0,072009,0.0,360.0,360.0,072009,00,NaN
497,102218329006,4.375,4.375,101000.0,0.00,360.0,072009,1.0,359.0,359.0,072009,00,NaN
498,102218329006,4.375,4.375,101000.0,0.00,360.0,072009,2.0,358.0,358.0,072009,00,NaN
499,102218329006,4.375,4.375,101000.0,0.00,360.0,072009,3.0,357.0,357.0,072009,00,NaN
500,102218329006,4.375,4.375,101000.0,0.00,360.0,072009,4.0,356.0,356.0,072009,00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
622,102218329006,4.375,4.375,101000.0,83156.29,360.0,072009,126.0,464.0,NaN,072009,00,NaN
623,102218329006,4.375,4.375,101000.0,83086.69,360.0,072009,127.0,463.0,NaN,072009,00,NaN
624,102218329006,4.375,4.375,101000.0,83016.84,360.0,072009,128.0,462.0,NaN,072009,00,NaN
625,102218329006,4.375,4.375,101000.0,82947.28,360.0,072009,129.0,461.0,NaN,072009,00,NaN
626,102218329006,4.375,4.375,101000.0,82877.13,360.0,072009,130.0,460.0,NaN,072009,00,NaN

In [11]:
df[df["LOAN_ID"] == 102458150755]

,LOAN_ID,ORIG_RATE,CURR_RATE,ORIG_UPB,CURRENT_UPB,ORIG_TERM,ORIG_DATE,LOAN_AGE,REM_MONTHS,ADJ_REM_MONTHS,ORIG_DATE,DLQ_STATUS,Zero_Bal_Code
627,102458150755,4.375,4.375,148000.0,0.00,360.0,072009,1.0,359.0,359.0,072009,00,NaN
628,102458150755,4.375,4.375,148000.0,0.00,360.0,072009,2.0,358.0,358.0,072009,00,NaN
629,102458150755,4.375,4.375,148000.0,0.00,360.0,072009,3.0,357.0,357.0,072009,00,NaN
630,102458150755,4.375,4.375,148000.0,0.00,360.0,072009,4.0,356.0,356.0,072009,00,NaN
631,102458150755,4.375,4.375,148000.0,0.00,360.0,072009,5.0,355.0,355.0,072009,00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
752,102458150755,4.375,4.375,148000.0,116188.83,360.0,072009,126.0,234.0,234.0,072009,00,NaN
753,102458150755,4.375,4.375,148000.0,115873.50,360.0,072009,127.0,233.0,233.0,072009,00,NaN
754,102458150755,4.375,4.375,148000.0,115557.02,360.0,072009,128.0,232.0,232.0,072009,00,NaN
755,102458150755,4.375,4.375,148000.0,115239.38,360.0,072009,129.0,231.0,231.0,072009,00,NaN
756,102458150755,4.375,4.375,148000.0,114920.58,360.0,072009,130.0,230.0,230.0,072009,00,NaN

# 2. Hyperparameters

# 3. Defining The Model